//// MAIN VARIABLES ////

// main font family
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;

// headings font family
$font-family-heading: "Arial", sans-serif;

// weight of font heading (thickness)
$presentation-heading-font-weight: 60 !important;

//font size fo text
$presentation-font-size-root: 1.7em;

// font size for level 2 headings (defined with "##")
$presentation-h2-font-size: 2.4em !default;

// default theme color
$theme-color: #7a0b80;

// info callout color
$callout-color-note: $theme-color;

//#1c74d8

//best?: #53b0a8
// good: #c45674, lighter: #f54278

//#3f5c4d
// #a82857
// #7300e6
// #db5656
//#e1ccff
// some example colors

// c("#458B00", "#DEB887", "#6495ED")

// default background color
$body-bg: white;

// default text color
$body-color: black;

// default link color
$link-color: $theme-color;

//defualt selection color 
$selection-bg: lighten($theme-color, 15%);





// callouts

/*-- scss:rules --*/


// author

.quarto-title-author {
  font-family: $font-family-sans-serif;
  font-size: 1.5em !important;
  font-weight: 500 !important;
}


// date
.date {
  font-family: $font-family-sans-serif;
  font-size: 1.3em !important;
  font-weight: 500 !important;
}

// footer
.reveal .footer {
  font-family: $font-family-sans-serif;
  font-size: 1rem !important;
  font-weight: 550 !important;
  width: 50% !important;
  color: $body-bg;
  bottom: -0% !important;
  width: 80%;
  left: 25%;
  background-color: lighten($theme-color, 15%);
  padding-top: 15px;
  padding-bottom: 10px;
  z-index: -2 !important;
  transform: skew(335deg);
  padding-left: 0px;
  padding-right: 1400px;
  border: 2.5px solid $theme-color;
}

@media screen and (max-width: 930px){
  .reveal .footer {
    //display: none;
    font-size: .7rem !important;
    left: 40%;
//position: relative;
  }
}

@media screen and (max-height: 530px) {
  .reveal .footer {
    display: none !important;
    //font-size: .7rem !important;
    //left: 40%;
//position: relative;
  }
  
}

@media screen and (max-height: 530px) {
  .reveal .slide-number {
  font-family: $font-family-sans-serif;
  font-size: .6em !important;
  color: $theme-color !important;
  font-weight: 550 !important;
}

}



.reveal .footer > * {
  transform: skew(25deg) !important;
}

.hide {
  display: none !important;
}

// search bar elements

//.searchinput{
//   width: 540px !important;
//}

.search-button{
   background-color: $body-bg;
   color: $theme-color;
   font-family: $font-family-sans-serif;
     border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
  border-radius: 10%;
  font-size: .8rem;
  font-weight: 800;
}



// slide number

.reveal .slide-number {
  font-family: $font-family-sans-serif;
  font-size: .6em !important;
  color: $body-bg;
  font-weight: 550 !important;
}


.aside-footnotes{
  font-size: calc($presentation-font-size-root/2)
}


// figure captions for tikz figures mostly

figcaption {
  margin: auto;
  text-align: center;
  margin-top: -18px;
  font-size: .8em;
}


// hide title-slide number 

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}


.no-slide-number .reveal .slides section {
  counter-reset: slide;
}

.no-slide-number .reveal .slides section:after {
  display: none;
}

.quarto-title-block {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
}

// headings

.reveal .slides h2 {
  margin: 0 0 40px 0;
  color: $theme-color;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-shadow: none;
  white-space: nowrap;
  z-index: 0 !important;
}


.reveal .slides h3 {
  margin: 0 0 40px 0;
  color: $theme-color;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-shadow: none;
  white-space: nowrap;
  z-index: 0 !important;
  font-size: 2.2em;
}


// title
.reveal .slides h1 {
  font-size: 2.7em;
  color: black;
  font-family: $font-family-sans-serif;
  line-height: 1em;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 550;
  text-shadow: none;
}

// "Data" heading class

.data-title {
  font-weight: 800;
  color: $theme-color;
  font-size: 1.5em;
}


// Shinylive wrapper and source code

.reveal div.sourceCode {
    margin: 6px !important;
    overflow: auto;
}

div.shinylive-wrapper {
    margin: 0em 0;
    border-radius: 0px;
}

//Bold color
b,
strong {
  color: $theme-color;}

// bullet points

ul li::marker {
  color: $theme-color;
}
  
  
ol li::marker {
  color: $theme-color;
}


// classes to assign to SVGs added through JS

.decoration{
  fill: $theme-color;
  stroke: lighten($theme-color, 15%);
  background-color: lighten($theme-color, 15%);
}


@media screen and (max-width: 530px) {
  .decoration {
    display: none !important;
    //font-size: .7rem !important;
    //left: 40%;
//position: relative;
  }
  
}
  


.menu-icon{
  fill: $theme-color;
  color: $theme-color;
  // display: inline-block;
  // border-width: .3;
  //padding-bottom: 13px;
}





.title-separator{
  fill: $theme-color;
  stroke: $theme-color;
  width: 100%;
  stroke-width: 3;
}

.decoration-container {   
  box-sizing: border-box;  
  width: 100vw; 
  height: 100vh; 
  position: fixed;
  overflow: visible;
  background-color: transparent; 
  top:0; 
  left: 0; 
  bottom: 0;
  right: 0;
}

// Zoome menu

/* Basic styles for the context menu */
.custom-menu {
  position: absolute;
  display: none; /* Hidden by default */
  background-color: $body-bg;
  border: 1px solid darken($body-bg, 15%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 150px; /* Adjust based on your needs */
  overflow-y: auto; /* Scrollable when content overflows */
  z-index: 9999; /* Ensure it appears above other content */
}

.custom-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8a0909;
  border-bottom: 1px solid #eee;
}

.custom-menu a:hover {
  background-color: #f0f0f0;
}


.image {
  cursor: pointer; /* Change this to whatever cursor style you prefer */
  z-index: 300000 !important;
}

.dim {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  //z-index: 1; /* Ensure it's below the zoomed element */
 // pointer-events: none; /* Allows interaction with the zoomed element */
}

// callouts?


// code summary

details summary {
  color: $theme-color;
  font-weight: 700;
}

// Code options

.reveal div.sourceCode {
  // width: fit-content;
  padding: 5px;
}



.code-80{
  font-size: 80%  
}

.code-90{
  font-size: 90%  
}

.code-105{
  font-size: 105%  
}

.code-110{
  font-size: 110%  
}

.code-115{
  font-size: 115%  
}

.code-125{
  font-size: 125%  
}

.code-150{
  font-size: 150%  
}

.code-175{
  font-size: 175%  
}

.code-200{
  font-size: 200%  
}

.code{
  max-height: 150px;
}

.height-150{
  max-height: 150px
}

.height-200{
  height: 1200px
}

.width-900{
  max-width: 900px;
}

// Zoom Animations


.zoom1xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  top: 50%;
  left: 50%;
  // width: auto; /* Ensure the width is automatic to preserve original dimensions */
  // height: auto; /* Ensure the height is automatic to preserve original dimensions */
  border-radius: 10%;
  background-color: $body-bg; 
  z-index: 99999;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}

//zoom1_25xJS-active
.zoom1_25xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(1.25);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10%;
  background-color: $body-bg;
  z-index: 99999;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}

.zoom1_5xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(1.5);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10%;
  background-color: $body-bg;
  z-index: 99999;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}

.zoom1_75xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(1.75);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10%;
  background-color: $body-bg;
  z-index: 99999;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}



.zoom2xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(2);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10%;
  background-color: $body-bg;
  z-index: 99999 !important;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}

.zoom2_5xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(2.5);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10%;
  background-color: $body-bg;
  z-index: 100000 !important;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}

.zoom3xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(3);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: $body-bg;
  border-radius: 10%;
  z-index: 99999;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
}

.zoom4xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(4);
  position: fixed;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
  top: 50%;
  left: 50%;
  background-color: $body-bg;
  border-radius: 10%;
  z-index: 99999;
}

.zoom6xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(6);
  position: fixed;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
  top: 50%;
  left: 50%;
  background-color: $body-bg;
  border-radius: 10%;
  z-index: 99999;
}

.zoom8xJS-active {
  transition: transform .3s;
  transform: translate(-50%, -50%) scale(8);
  position: fixed;
  padding: .7%;
  border: solid 1.5px;
  border-color: lighten($theme-color, 15%);
  top: 50%;
  left: 50%;
  background-color: $body-bg;
  border-radius: 10%;
  z-index: 99999;
}

